body {
	background-color: #002244;
}
header {
	background-color: #fecb00;
	color: #002244;
	padding:0px;
	margin:0px;
	margin-top:50px;
	height:62px;
}
h1 {
	float:left;
	padding-left:50px;
	position:relative;
	top:-8px;
}
#navbar {
	float:right;
	padding-right:50px;
	position:relative;
	top:20px;
}

body {
	padding:10px;
	background-color:blue;
}
